/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

.btn {
   @apply px-5 py-2.5 text-sm font-medium focus:ring-4 focus:outline-none rounded-lg text-center;
}

.btn-xs {
   @apply px-3 py-2 text-xs;
}

.btn-sm {
   @apply px-3 py-2 text-sm;
}

.btn-lg {
   @apply px-5 py-3 text-base;
}

.btn-xl {
   @apply px-6 py-3.5 text-base;
}

.btn-primary {
   @apply text-white bg-primary-500 hover:bg-primary-600 focus:ring-primary-300 dark:bg-primary-400 dark:hover:bg-primary-500 dark:focus:ring-primary-600;
}

.btn-secondary {
   @apply text-white bg-secondary-500 hover:bg-secondary-600 focus:ring-secondary-300 dark:bg-secondary-400 dark:hover:bg-secondary-500 dark:focus:ring-secondary-600;
}

.btn-outline-primary {
   @apply text-primary-600 border border-2 border-primary-600 bg-white hover:bg-primary-100;
}

.container {
   @apply mx-auto px-6 lg:px-8;
   max-width: 90rem;
}

.flash {
   @apply border px-2 py-3 rounded;
}

.flash-success {
   @apply bg-green-100 text-green-500 border-green-300;
}

.flash-warning {
   @apply bg-yellow-100 text-yellow-500 border-yellow-300;
}

.flash-danger {
   @apply bg-red-100 text-red-500 border-red-300;
}

.radio-btn {
    @apply cursor-pointer select-none border border-gray-300 text-center text-gray-500 rounded py-2;
}

.radio-btn-active {
   @apply bg-primary-200 text-primary-600 border-primary-500;
}

.radio-btn-inactive {
   @apply bg-white hover:bg-gray-100;
}


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none !important;
}

#search-form {
   input[type="text"] {
      @apply text-lg px-4 py-3 rounded-lg w-full ring-1 ring-white/10 focus:ring-4 focus:ring-primary-200;
   }
}
